{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./semantic/dist"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$"]
      }
    ],
    [
      "inline-dotenv"
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": "./.env.production"
          }
        ]
      ]
    }
  },
  "presets": [
    "next/babel"
  ],
  "ignore": [],
  "compact": true
}
