{
  "plugins": [
    [
      "inline-dotenv",
      {
        "path": "./.env.config"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": "./.env.production.config"
          }
        ]
      ]
    }
  },
  "presets": [
    "next/babel"
  ],
  "ignore": [],
  "compact": true
}
