# Check-out & Check-in text files with unix line ending (http://schacon.github.io/git/gitattributes.html)
* text eol=lf

# All files that must be treated as binary and must not be modified, but not identified as such
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
