# Checkout with unix line ending
* text eol=lf

# Commit with unix line ending (https://stackoverflow.com/questions/10418975/how-to-change-line-ending-settings/40821931#40821931)
* text eol=lf

# All files that must be treated as binary and should not be modified
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
