/*
 Icon set used from: https://www.flaticon.com/authors/catalin-fertu [These icons are curved too]

Always use icons from same icon pack to maintain consistency of design
*/

.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-enter:before {
  content:"\f121";
  align-content: center;
}

.vjs-icon-fullscreen-exit:before, .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
  content:"\f122";
  align-content: center;
}

.video-js .vjs-progress-holder .vjs-play-progress, .video-js .vjs-progress-holder .vjs-load-progress, .video-js .vjs-progress-holder .vjs-load-progress div, .video-js .vjs-slider,.vjs-volume-level {
  border-radius: 10px;
}

.video-js .vjs-control-bar2 {
  background-color: transparent
}

.video-js .vjs-control-bar {
  background-color: rgba(0,0,0,0) !important;
  color: #ffffff;
}
